:root {
	--white: #ffffff;
	--black: #000000;
	--dark: #11171C;
	--grey: #F4F4F4;
	--grey-text: #848484;
	--orange: #EA8745;
}

* {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5, span,p,div,ol,ul {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: var(--white);
}

button {
	outline: none;
	border: none;
}

ol, ul {
	list-style: none;
}

a, a:hover, a:active, a:focus, a:focus {
	text-decoration: none;
	color: inherit;
}

img {
	width: 100%;
}

h1 {
	font-weight: 800;
	font-size: 50px;
	line-height: 60px;
}

h2 {
	font-weight: 800;
	font-size: 35px;
	line-height: 42px;
	color: var(--dark);
	display: flex;
  align-items: center;
}

h3 {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: var(--black);
}

button {
	padding: 15px;
	border-radius: 50px;
	color: var(--white);
	min-width: 190px;
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
	transition: all .5s ease;
}

button.orange-btn {
	background-color: var(--orange);
	box-shadow: 0px 4px 13px 8px rgba(234, 135, 69, 0.15);
}

button.transparent-btn {
	background-color: transparent;
	box-shadow: 0px 4px 13px 8px rgba(234, 135, 69, 0.15);
	border: 1px solid var(--orange);
}

button.transparent-btn:hover {
	background-color: var(--orange);
	box-shadow: 0px 4px 13px 8px rgba(234, 135, 69, 0.15);
	transition: all .5s ease;
}

.orange-line {
	display: block;
	width: 50px;
	height: 5px;
	background-color: var(--orange);
	margin-right: 20px;
}

.objects-page-slider__wrap .swiper-wrapper {
  /* position: static!important; */
}

.swiper-prev,
.swiper-next {
  position: absolute;
  background-color:  rgba(38, 38, 38, .7)!important;
  width: 50px!important;
  height: 50px!important;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.swiper-prev.swiper-button-disabled,
.swiper-next.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.4
}

.swiper-prev img,
.swiper-next img {
  width: 10px;
}

/* .swiper-prev::after,
.swiper-next::after {
  font-size: 14px!important;
  color: #F2F2F2;
} */

.cool-lightbox__slide__img img {
  object-fit: contain!important;
}

.cool-lightbox-button {
  min-width: 100px;
  /* padding: 0 30px 0 0!important; */
  width: 30px!important;
  height: 30px!important;
}

/* HEADER */

.header {
  background-color: transparent;
  border-bottom: 1px solid rgba(187, 196, 199, 0.3);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
  z-index: 100;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-logo {
	margin: 15px 0;
  cursor: pointer;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-contacts {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
	padding: 0 15px;
}

.header-contacts-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 22px;
}

.header-contacts-item img {
  margin-right: 10px;
	width: 20px;
	height: 20px;
}

.header-contacts-item a {
  transition: all 0.5s ease;
}

.header-contacts-item:hover a {
  color: var(--orange);
  transition: all 0.5s ease;
}

.header-menu {
  display: flex;
  justify-content: center;
}

.header-menu-item {
  padding: 0 15px 15px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.5s ease;
}

.header-menu .router-link-active {
  color: var(--orange);
  border-bottom: 2px solid var(--orange);
  transition: all 0.5s ease;
}

.header-menu-item:hover {
  color: var(--orange);
  border-bottom: 2px solid var(--orange);
  transition: all 0.5s ease;
}

.header-info-burger {
  display: none;
}

.header-info-burger span {
  display: block;
  width: 40px;
  height: 4px;
  background-color: var(--white);
  border-radius: 2px;
}

.header-info-burger span:nth-child(2) {
  margin: 14px 0;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  background-color: var(--white);
  z-index: 1000;
}

.mobile-menu-head {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid rgba(187, 196, 199, 0.3);
}

.mobile-menu-logo {
  width: 150px;
}

.mobile-menu-close {
  width: 40px;
  height: 40px;
}

.mobile-menu-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.mobile-menu-links {
  margin: 50px 0;
}

.mobile-menu-links li {
  color: var(--dark);
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 23px;
  cursor: pointer;
}

.mobile-menu-links .router-link-active {
  color: var(--orange);
}

.mobile-contacts {
  display: flex;
  flex-direction: column;
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 23px;
}

.mobile-contacts-item img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.mobile-contacts-item a {
  color: var(--black);
  transition: all 0.5s ease;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
}

.mobile-contacts-item a:hover {
  color: var(--orange);
  transition: all 0.5s ease;
}

.mobile-menu__wrap button {
  display: block;
  background-color: var(--orange);
  margin-top: 50px;
}

/* SERVICES */

.services {
  background-color: var(--grey);
  padding: 90px 0;
}

.services__wrap p {
  color: var(--dark);
  margin: 25px 0 50px;
}

.services__wrap button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.services-items, .vehicles-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
}

.services-item, .vehicles-item {
  position: relative;
  background-color: var(--white);
  padding: 30px 140px 30px 25px;
  border-right: 5px solid var(--orange);
  min-height: 155px;
  display: flex;
  overflow: hidden;
}

.vehicles-item {
	background-color: var(--grey);
}

.services-item {
  cursor: pointer;
}

.services-item p {
  max-width: 240px;
  margin: 0;
  margin-top: 15px;
	z-index: 10;
  color: var(--grey-text);
}

.services-item-img, .vehicles-item-img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 140px;
	z-index: 1;
}


/* OBJECTS */

.objects {
  padding: 90px 0 70px;
}

.objects__wrap h2 {
  margin-bottom: 50px;
}

.objects-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 30px;
}

.object-item {
  height: 290px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center 0;
}

.object-item span {
  padding: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.object-item:nth-child(6n + 2),
.object-item:nth-child(6n) {
  grid-column: span 2;
}


/* REASONS */

.reasons {
  margin-bottom: 85px;
}

.reasons__wrap {
  padding: 25px 35px 35px 110px;
  border: 10px solid var(--grey);
  position: relative;
}

.reasons__wrap::before {
  content: "";
  position: absolute;
  display: block;
  width: 65px;
  height: 6px;
  background-color: var(--orange);
  top: 80px;
  left: -35px;
}

.reasons-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 45px;
}

.reasons-big-text {
  color: var(--dark);
  display: flex;
  margin-left: -50px;
}

.reasons-big-text__number {
  font-size: 140px;
  line-height: 105px;
  font-weight: 800;
  margin-right: 30px;
}

.reasons-big-text__text {
  font-size: 30px;
  line-height: 35px;
}

.reasons-item img {
  width: 40px;
  height: 40px;
}

.reasons-item h3 {
  margin: 10px 0 15px;
}

.reasons-item span {
  color: var(--grey-text);
}


/* VEHICLES */

.vehicles {
  margin-bottom: 125px;
}

.vehicles__wrap h2 {
  margin-bottom: 25px;
}

.vehicles-item p, .vehicles-item h3 {
	position: relative;
	z-index: 10;
}

.vehicles__wrap button {
  display: block;
  margin: 30px auto 0;
}

/* QUESTIONS */

.questions {
  background-image: url("../img/questions-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}

.questions__wrap {
  min-height: 465px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.questions__wrap h2 {
  font-size: 50px;
  line-height: 60px;
  color: var(--white);
  margin-bottom: 15px;
}

.questions__wrap p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 25px;
}

.questions__wrap button {
  max-width: 225px;
}

.questions-man {
  position: absolute;
  width: 450px;
  right: 0;
  bottom: -10px;
}

/* PARTNERS */
.partners {
  margin-bottom: 30px;
}

.partners__wrap {
  position: relative;
}

.swiper-pagination {
  left: 0;
  right: 0;
  bottom: -40px;
}

.swiper-pagination-bullet {
  width: 15px!important;
  height: 15px!important;
  margin-right: 5px;
}

.swiper-pagination-bullet-active {
  background-color: var(--orange)!important;
}

.partners-slider {
  margin: 120px 0 90px;
}

.partners-slide {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.partners-slide img {
  width: 180px;
  height: 180px;
  object-fit: contain;
}

/* FOOTER */

.footer {
  background-color: var(--dark);
  padding: 60px 0 90px;
}

.footer__wrap {
  display: grid;
  grid-template-columns: 4fr 2fr 3fr 3fr;
  gap: 0 40px;
}

.footer__wrap h3 {
  text-transform: uppercase;
  color: var(--white);
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

.footer-info-logo {
  max-width: 230px;
  margin-bottom: 25px;
}

.footer-info p {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 20px;
}

.footer-info-nums {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 18px;
}


.footer-menu ul li,
.footer-services ul li {
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.footer-menu ul li:hover,
.footer-services ul li:hover {
  color: var(--orange);
  transition: all 0.5s ease;
}

.footer-menu ul li:not(:last-child),
.footer-services ul li:not(:last-child) {
  margin-bottom: 15px;
}

.footer-contacts-item {
  font-size: 18px;
  line-height: 21px;
  transition: all 0.5s ease;
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 15px;
}

.footer-contacts-item:not(:last-child):hover {
  color: var(--orange);
  transition: all 0.5s ease;
}

.footer-contacts-item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer-contacts-point {
  display: flex;
  align-items: flex-start;
}

/* SINGLE SERVICES ITEMS */

.single-services-item__block-slider {
  position: relative !important;
  height: fit-content;
}

.single-services-item__wrap {
  background-color: var(--grey);
}

.single-services-item__wrap p {
  color: var(--dark);
  font-size: 14px;
  line-height: 21px;
}

.single-services-item__block {
  padding: 80px 0;
}

.single-services-item__block:nth-child(odd) {
  background-color: var(--white);
}

.single-services-item__block-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 50px;
}

.single-services-item__block:nth-child(odd)
  .single-services-item__block-slider {
  order: 2;
}
.single-services-item__block:nth-child(odd) .single-services-item__block-text {
  order: 1;
}

.single-services-item__block-slider {
  width: 100%;
  overflow: hidden;
}

.single-services-item__block:last-child {
  padding-bottom: 160px !important;
}

.single-services-slide {
  margin-right: 0 !important;
  height: 400px!important;
}

.single-services-slide img {
  height: 100%;
  object-fit: cover;
}

.single-services-item__block-text h3 {
  font-size: 20px;
  line-height: 24px;
  margin: 20px 0;
}

.single-services-item__block-text ul li::before {
  content: "";
  display: block;
  min-width: 5px;
  width: 5px;
  height: 5px;
  background-color: var(--orange);
  border-radius: 100%;
  margin-right: 5px;
  margin-top: 5px;
}

.single-services-item__block-text ul li {
  color: var(--dark);
  display: flex;
  width: 100%;
}

.single-services-item__block-text ul li:not(:last-child) {
  margin-bottom: 10px;
}

/* OBJECTS ITEMS */

.objects-page-item {
  padding: 80px 0;
}

.objects-page-item:last-child {
  padding-bottom: 160px;
}

.objects-page-item h3 {
  max-width: 600px;
  margin-top: 20px;
}

.objects-page-item-points {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.objects-page-item-point:not(:last-child) {
  margin-right: 70px;
}

.objects-page-item-point img {
  width: 17px;
}

.objects-page-item-point span {
  display: inline-block;
  margin-left: 5px;
  color: var(--dark);
}

.objects-page-slider__wrap {
  position: relative;
  height: 270px;
  overflow: hidden;
}

.objects-page-slide {
  height: 300px!important;
}

.objects-page-slide img {
  height: inherit;
  object-fit: cover;
}

.objects-page-slider__wrap .swiper-prev {
  left: 15px;
}

.objects-page-slider__wrap .swiper-next {
  right: 15px;
}

/* ABOUT */

.about__wrap-item {
  display: grid;
  grid-template-columns: 5fr 6fr;
  gap: 0 30px;
}

.about__wrap-item:not(:last-child) {
  margin-bottom: 50px;
}

.about__wrap-item:nth-child(2n) {
  grid-template-columns: 2fr 1fr;
}

.about__wrap-item:nth-child(even) .about-item-img {
  order: 2;
}

.about__wrap-item h3 {
  margin: 20px 0;
}

.about-item-text {
  font-size: 14px;
  line-height: 21px;
  color: var(--dark);
}

/* CONTACTS */

.map-instance__wrap {
  width: 100%;
  height: 400px !important;
}

.contacts {
  padding-bottom: 80px;
}

.contacts__wrap {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.contacts-info {
  background-color: var(--grey);
  padding: 30px;
  height: 400px;
}

.contacts-info-item {
  max-width: 200px;
}

.contacts-info-item h3 {
  margin-bottom: 20px;
}

.contacts-info-item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts-info-item span {
  display: block;
  color: var(--dark);
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.contacts-info-item span:not(:last-child) {
  margin-bottom: 10px;
}

.contacts-info-item span img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.contacts-info-item span a {
  transition: all 0.5s ease;
}

.contacts-info-item span a:hover {
  color: var(--orange);
  transition: all 0.5s ease;
}

.contacts-map {
  width: 100%;
  overflow: hidden
}

/* TEQCHNIQUE */

.technique {
  padding-bottom: 160px;
}

.technique__wrap h3 {
  margin: 20px 0;
}

.technique__wrap p {
  color: var(--dark);
  font-size: 14px;
  line-height: 21px;
}

.technique__wrap-text {
  margin-top: 20px;
  color: var(--dark);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 60px;
}



.technique__wrap-text span::before {
  content: "";
  display: inline-block;
  width: 5px!important;
  height: 5px!important;
  background-color: var(--orange);
  border-radius: 100%;
  margin-right: 5px;
}

.technique-catalog h3 {
  margin-top: 20px;
}

.technique-catalog-tabs {
  margin: 20px 0 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}

.technique-catalog-tabs button {
  padding: 10px;
  background-color: #d6d6d6;
  transition: all 0.5s ease;
  color: var(--dark);
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.technique-catalog-tabs button.active,
.technique-catalog-tabs button:hover {
  background-color: var(--orange);
  transition: all 0.5s ease;
  color: var(--white);
  box-shadow: 0px 4px 13px 8px rgba(234, 135, 69, 0.15);
}

/* .technique-catalog-tabs button:not(:last-child) {
  margin-right: 20px;
} */

.technique-catalog-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 30px 30px;
}

.technique-catalog-item {
  color: var(--dark);
  border-top: 4px solid var(--orange);
}

.technique-catalog-item img {
  height: 230px;
  object-fit: contain;
}

.technique-catalog-item__info {
  background-color: var(--grey);
  padding: 20px 25px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.technique-catalog-item__info h4 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 10px;
}

.technique-catalog-item__info button {
  background-color: var(--orange);
  display: block;
  margin: 20px auto 0;
}

.technique-catalog-item-feauture div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 25px;
}

.technique-catalog-item-feauture div span:last-child {
  margin-left: 10px;
  text-align: right;
}

/* VACANCIES */

.vacancies {
  background-color: var(--white);
  padding-bottom: 160px;
}

.vacancies__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 45px 30px;
}

.vacancies-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--grey); */
  text-align: center;
}

.vacancies-item .img {
  width: 100px;
  height: 100px;
  background-color: var(--grey);
  border-radius: 100%;
  margin-bottom: 10px;
}

.vacancies-item button {
  margin-top: 15px;
  background-color: var(--orange);
}

/* PARTNERS */

.partners-page {
  padding-bottom: 150px;
}

.partners-page__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}

.partners-page-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.partners-page-item img {
  width: 150px;
  height: 150px;
}

.partners-page-item span {
  display: block;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: var(--dark);
  margin-top: 15px;
}


/* .vacancies-item__wrap {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 0 120px;
}

.vacancies-item-block h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--black);
  margin: 10px 0;
}

.vacancies-item-block ul li {
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
}

.vacancies-item-block ul li::before {
  content: "";
  display: inline-block;
  width: 5px !important;
  height: 5px !important;
  background-color: var(--orange);
  border-radius: 100%;
  margin-right: 5px;
}

.vacancies-item-info button {
  background-color: var(--orange);
  margin-top: 25px;
} */

/*ADAPTIIIIIIIIIV*/

@media (max-width: 1199px) {
	.header-menu-item {
		padding: 0 10px 15px;
	}

	.services-items, .vehicles-items {
		grid-template-columns: repeat(2, 1fr);
	}

  .about__wrap-item {
    grid-template-columns: 1fr 2fr;
  }

  .contacts__wrap {
    grid-template-columns: 2fr 5fr;
  }

  .vacancies-item__wrap {
    gap: 0 30px;
  }

  .header-menu, .header-contacts, .header-info {
    display: none;
  }

  .header__wrap {
    align-items: center;
  }

  .header-info-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

}
@media (max-width: 991px) {

  .header-logo {
    width: 150px;
  }

	.services-items, .vehicles-items {
		grid-template-columns: 1fr;
	}

	.objects-items {
    grid-template-columns: repeat(2, 1fr);
	}

	.object-item:nth-child(6n + 2),
	.object-item:nth-child(6n) {
		grid-column: auto;
	}

	.object-item:nth-child(3n) {
		grid-column: span 2;
	}

	.reasons-items {
		grid-template-columns: repeat(2, 1fr);
	}

	.questions-man {
		display: none;
	}

	.partners-slider {
		margin: 30px 0 40px;
	}

	.footer__wrap {
		grid-template-columns: repeat(2, 1fr);
		gap: 40px 100px;
	}

  .single-services-item__block-wrap {
    grid-template-columns: 1fr!important;
    gap: 40px 0!important;
  }

  .about__wrap-item {
    grid-template-columns: 1fr!important;
    gap: 30px 0;
  }

  .about__wrap-item:nth-child(even) .about-item-text {
    order: 2;
  }

  .about-item-img img {
    height: 100%;
    object-fit: cover;
    max-height: 450px;
  }

  .contacts__wrap {
    grid-template-columns: 1fr;
  }

  .contacts-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
    text-align: center;
  }

  .technique-catalog-tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .technique-catalog-tabs button {
    margin-right: 0!important;
  }	

  .objects-page-item-point:not(:last-child) {
    margin-right: 30px;
  }

  .objects-page-slider__wrap .swiper-next, .objects-page-slider__wrap .swiper-prev {
    display: none;
  }
}
@media (max-width: 786px) {

}
@media (max-width: 767px) {

  .vacancies-item__wrap {
    grid-template-columns: 1fr;
  }

  .vacancies-item-img {
    display: none;
  }

  .objects-page-item-points {
    flex-wrap: wrap;
  }

}
@media (max-width: 672px) {
	.reasons__wrap {
		padding: 15px;
	}

	.reasons-big-text {
		margin-left: 0;
	}

	.reasons-items {
    grid-template-columns: 1fr;
	}

	.reasons__wrap::before {
		content: none;
	}

  .contacts {
    padding-bottom: 80px;
  }

  .contacts-info {
    flex-direction: column;
    align-items: center;
  }

  .map-instance__wrap {
    height: 300px!important;
  }

  .technique__wrap-text {
    grid-template-columns: 1fr;
  }

  .technique-catalog-tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
@media (max-width: 512px) {
	h1 {
		font-size: 40px;
		line-height: 48px;
	}

	h2 {
		font-size: 28px;
		line-height: 32px;
		margin-bottom: 25px;
	}

  
	.objects-items {
    grid-template-columns: 1fr;
	}

	.object-item {
		height: 200px;
	}

	.object-item:nth-child(3n) {
		grid-column: auto;
	}

	.footer__wrap {
    grid-template-columns: 1fr;
    gap: 40px 0;
  } 

  .technique-catalog-tabs {
    grid-template-columns: 1fr;
  }

  .mobile-menu-body {
    align-items: flex-start;
    max-height: 85vh;
  }

  .mobile-menu-links {
    margin: 25px 0;
  }

  .mobile-menu__wrap button {
    margin-top: 25px;
  }

  .services, .objects {
    padding-top: 40px;
  }

  .contacts {
    padding-bottom: 40px;
  }

  .vehicles, .questions {
    margin-bottom: 40px;
  }

  .objects-page-item-points {
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
  }

}
@media (max-width: 390px) {
  h1 {
    font-size: 35px;
    line-height: 42px;
  }
	
}
@media (max-width: 320px) {

}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none!important;
  margin: 0;
}

select {
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

